@model List<Store>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@*<a asp-action="Create" asp-controller="Home" class="btn btn-outline-success mt-4 ml-4">Add New Store</a>
<a asp-action="UserList" asp-controller="User" class="btn btn-outline-success mt-4 ml-4">User List</a>
<a asp-action="Create" asp-controller="Role" class="btn btn-outline-success mt-4 ml-4">Add New Role</a>
<a asp-action="Index" asp-controller="Role" class="btn btn-outline-success mt-4 ml-4">Role List</a>*@
<br />
<table class="table table-hover table-bordered table-sm">
    <thead>
        <tr class="text-center">
            <td>Store Name</td>
            <td>Balance</td>
            <td>Address</td>

            <td class="text-center">Store Detail</td>
            <td class="text-center">Delete Action</td>
            <td class="text-center">Edit Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="text-center">
            

            <td>@item.StoreName</td>
            <td>@item.Balance</td>
            <td>@item.Address</td>


            <td>
                
                    <a asp-action="Index" asp-controller="Store" asp-route-id="@item.StoreId" class="btn btn-outline-dark">
                        <i class="fas fa-hdd mr-2"></i>     Manage Store
                    </a>
                    </td>
        
            <td>
                <a asp-action="Delete" asp-controller="Home" asp-route-id="@item.StoreId" onclick="return confirm('Are you sure to delete store :@item.StoreName')" class="btn btn-outline-danger">


                    <i class="fas fa-ban mr-2"></i>     Delete Store 
                </a>
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.StoreId" class="btn btn-outline-info">

                    <i class="fas fa-highlighter mr-2"></i>     Edit Store
                </a>

                
                            </td>
          
        </tr>}
    </tbody>
</table>
