@model List<StorePartner>
@{ Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<!-- Left col -->

@*<table class="mt-4 table table-hover table-bordered table-sm">
    <thead class="text-center">
        <tr>
            <th style="width: 10px">#</th>

            <th>Name</th>
            <th>Payment Rate</th>
            <th>Total Amount</th>
            <th>Delete Store Partner Action</th>
            <th>Edit Store Partner Action</th>


        </tr>
    </thead>
    @foreach (var item in Model)
    {
<tbody>
    <tr>
        <td>i++</td>

        <td>
            @item.Name
        </td>
        <td>@item.PaymentRate</td>
        <td>@item.TotalAmount</td>

        <td>
            <div class="text-center">

                <a asp-action="DeleteStorePartner" asp-controller="Store" asp-route-id="@item.Id" onclick="return confirm('Are you sure to delete store partner :@item.Name')" class="btn btn-outline-danger">


                    <i class="fas fa-ban mr-2"></i>     Delete Store Partner
                </a>
            </div>
        </td>
        <td>
            <div class="text-center">
                <a asp-action="EditStorePartner" asp-controller="Store" asp-route-id="@item.Id" class="btn btn-outline-info">

                    <i class="fas fa-highlighter mr-2"></i>     Edit Store Partner
                </a>
            </div>
        </td>



    </tr>
</tbody>
}

</table>*@







<br />
<br />

<table class="mt-4 table table-hover table-bordered table-sm">
    <thead>
        <tr class="text-center">
            <td>#</td>
            <td>Name</td>
            <td>Payment Rate</td>
            <td>Total Amount</td>
            <td>Delete Store Partner Action</td>

            <td>Edit Store Partner Action</td>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr class="text-center">
        
        <td>-</td>
    <td>@item.Name</td>
    <td>@item.PaymentRate</td>
    <td>@item.TotalAmount</td>
    <td>
        <a asp-action="DeleteStorePartner" asp-controller="Store" asp-route-id="@item.Id" onclick="return confirm('Are you sure to delete store partner :@item.Name')" class="btn btn-outline-danger">


            <i class="fas fa-ban mr-2"></i>     Delete Store Partner
        </a>
    </td>


    <td>
        <a asp-action="EditStorePartner" asp-controller="Store" asp-route-id="@item.Id" class="btn btn-outline-info">

            <i class="fas fa-highlighter mr-2"></i>     Edit Store Partner
        </a>
    </td>









    
</tr>}
    </tbody>
</table>





