@model ShootingRangeManagementApp.Models.ViewModels.StoreViewModel

<div class="wrapper">

    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="~/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
    </div>
   


    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 ">@Model.Store.StoreName</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item text-gray"><a>Home</a></li>
                        <li class="breadcrumb-item active">@Model.Store.StoreName</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@Model.StoreStocks.BulletBoxCount</h3>

                            <p>Product 1 Count</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>@Model.StoreStocks.WorkingGunCount</h3>

                            <p>Product 2 Count</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>@Model.StoreStocks.BrokenGunCount</h3>

                            <p>Product 3 Count</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>65</h3>

                            <p>Unique Visitors</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
               
                <!-- Left col -->
                
                <div class="card-body">
                    <div class="shadow-lg p-3 mb-5 rounded">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th style="width: 30%">Task</th>
                                    <th style="width: 68%">Progress</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="font-weight-bold font">1.</td>
                                    <td class="font-weight-bold font">Daily Giro</td>
                                    <td>
                                        <div class="col-md-12">
                                            <div class="btn-group mb-2 mb-md-0 btn-block">
                                                <a asp-action="Index" asp-controller="AppUserPage" asp-route-id="@Model.Store.StoreId" class="btn btn-outline-dark btn-lg">
                                                    <i class="fas fa-plus mr-3"></i>Add Daily Giro
                                                </a>
                                                <a asp-action="DailyStoreGiroDataTables" asp-controller="Store" asp-route-id="@Model.Store.StoreId" class="btn btn-outline-dark btn-lg">
                                                    <i class="far fa-eye mr-3"></i>See Daily Giros
                                                </a>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="font-weight-bold font">2.</td>
                                    <td class="font-weight-bold font">Total Bills Count</td>
                                    <td>
                                        <div class="col-md-12">
                                            <div class="btn-group mb-2 mb-md-0 btn-block">
                                                <a asp-action="CreateDailyBill" asp-controller="Store" asp-route-id="@Model.Store.StoreId" class="btn btn-outline-dark btn-lg ">
                                                    <i class="fas fa-plus mr-3"></i>Add Daily Bill
                                                </a>
                                                <a asp-action="DailyBillsDataTable" asp-controller="Store" asp-route-id="@Model.Store.StoreId" class="btn btn-outline-dark btn-lg">
                                                    <i class="far fa-eye mr-3"></i>See Daily Bills
                                                </a>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="font-weight-bold font">3.</td>
                                    <td class="font-weight-bold font">Show Store Partner</td>
                                    <td>
                                        <div class="col-md-12">
                                            <div class="btn-group mb-2 mb-md-0 btn-block">
                                                <a asp-action="AddStorePartner" asp-controller="Store" asp-route-id="@Model.Store.StoreId" class="btn btn-outline-dark btn-lg">
                                                    <i class="fas fa-plus mr-3"></i>Add Store Partner
                                                </a>


                                                <a asp-action="GetStorePartners" asp-controller="Store" asp-route-id="@Model.Store.StoreId" class="btn btn-outline-dark btn-lg">
                                                    <i class="far fa-eye mr-3"></i>See Store Partners
                                                </a>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="font-weight-bolder font">4.</td>
                                    <td class="font-weight-bolder font">Monthly Giro</td>
                                    <td>
                                        <div class="col-md-12">
                                            <a asp-action="CalculateMonthlyGiro" asp-controller="Store" asp-route-id="@Model.Store.StoreId" class="btn btn-outline-dark btn-lg btn-block">
                                                <i class="fas fa-calculator mr-3"></i>  Calculate Monthly Giro
                                            </a>
                                        </div>
                                    </td>
                                    @*<td>
                        <a asp-action="CalculateMonthlyGiroWDates" asp-controller="Store" asp-route-id="@Model.Store.StoreId" class="btn btn-outline-dark">
                           Calculate With Date
                        </a>
                    </td>*@

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- right col --><div class="card-body">
                    <ul class="pagination pagination-month justify-content-center">
                        <li class="page-item"><a class="page-link" href="#">«</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <p class="page-month">Jan</p>
                                <p class="page-year">2021</p>
                            </a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">
                                <p class="page-month">Feb</p>
                                <p class="page-year">2021</p>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <p class="page-month">Mar</p>
                                <p class="page-year">2021</p>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <p class="page-month">Apr</p>
                                <p class="page-year">2021</p>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <p class="page-month">May</p>
                                <p class="page-year">2021</p>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <p class="page-month">Jun</p>
                                <p class="page-year">2021</p>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <p class="page-month">Jul</p>
                                <p class="page-year">2021</p>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <p class="page-month">Aug</p>
                                <p class="page-year">2021</p>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <p class="page-month">Sep</p>
                                <p class="page-year">2021</p>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <p class="page-month">Oct</p>
                                <p class="page-year">2021</p>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <p class="page-month">Nov</p>
                                <p class="page-year">2021</p>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <p class="page-month">Dec</p>
                                <p class="page-year">2021</p>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">»</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.row (main row) -->
        </div>
        <!-- /.container-fluid -->

    </section>
    <!-- /.content -->
    <!-- /.content-wrapper -->
</div>